{% load static %}
<!doctype html>
<html lang="en">
  <style>
    body,html{
      overflow: hidden;
    }
    /* width */
::-webkit-scrollbar {
    width: 2px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  </style>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AlgoLab</title>
    <script type="module" crossorigin src="{%static 'dashboard/dashboard.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{%static 'accounts/dashboard.js' %}">
  </head>
  <body>
    <div id="root">
      
    </div>
  </body>
</html>
